{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
Оформление заказа
{% endblock %}
{% block content %}
<style>
    .forma {
       display:table;
       width: 100%;
       margin: auto;
    }
</style>
<section>
    <div class="container">
        <div class="forma">
<h3>Заполните форму, чтобы оформить заказ</h3>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Оформить заказ">
</form>
    </div>
        </div>
</section>
{% endblock %}